<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="code.js"></script>
    <meta charset="UTF-8">
    <title>Theseus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="mainContainer">
    <nav class="navbar navbar" style="margin: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img class="navbar-brand" src="/images/logo.png" style="padding: 0"></a>
            </div>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <!--<img class="magGlass" src="/images/search_icon.png" style="padding: 0" width="40px">-->
            </form>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" id="">
                    <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                    <li><a href="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>




<!--bootstrap version-->
    <div class="miniContainer">
        <div class="createShopBox" style="margin-left: 400px; width: 550px;">
            <img src="/images/myShop.png" class="blueShopImg" style="width: 490px; height: 350px;">
            <div class="caption">
                <div class="row">
                    <div class="welcomeNote" style="padding-left: 110px;">
                        <h2>Welcome to Your Shop!</h2>
                    </div>
                </div>
                <p>Once you give your shop a name, hit the submit button to start adding products!</p>
                <div>
                    <form action="/shop/save">
                        <input name="shopname" id="shopname" class="shopNameInput" style="width: 300px; height: 32px;">
                        <button id="createShopButton" type="submit" class="btn btn-primary" style="width: 180px"><span class="glyphicon glyphicon-ok"></span> Name</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="existingShopModal" class="modalPay" style="margin-left: 25%; width: 50%">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modalDisplay">
                <span class="close"> </span>
                <h1>Shop Name Already Taken</h1>
                <p></p>
                <p>Please Try Another Name</p>
                <h3>Thank You</h3>
            </div>
        </div>

    </div>

    <script>
// Get the modal

var modal = document.getElementById("existingShopModal");

// Get the button that opens the modal
var btn = document.getElementById("createShopButton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = wait(50) {
    modal.style.display = "block";
}

// When the user clicks on <span> ( ), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>


</div>
</body>
</html>