<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="code.js"></script>
    <meta charset="UTF-8">
    <title>Theseus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="mainContainer">
    <nav class="navbar navbar" style="margin: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img class="navbar-brand" src="/images/logo.png" style="padding: 0"></a>
            </div>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <!--<img class="magGlass" src="/images/search_icon.png" style="padding: 0" width="40px">-->
            </form>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" id="">
                    <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                    <li><a href="/checkout"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <table id="checkoutTable">
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
        <tr th:each="product, iStat : ${products}" th:id="|row_${product.getId()}">
            <td><img th:src="'/images/' +${product.getImagepath()}" class="img-thumbnail" alt="thumbnail" style="height: 150px"></td>
            <td th:text="${product.getName()}" id="productName" style="padding-left: 2%"></td>
            <form action="/shop/status">
                <td><label for="status">Change Status:</label>
                    <select id="status" name="status">
                        <option></option>
                        <option th:value="Processing+${IDS.get(iStat.index)}">Processing</option>
                        <option th:value="InTransit+${IDS.get(iStat.index)}">In Transit</option>
                        <option th:value="Delivered+${IDS.get(iStat.index)}">Delivered</option>
                    </select>
                </td>
                <td>
                    <input type="submit">
                </td>
            </form>
        </tr>
    </table>
</div>


</body>
</html>